detector_model/assets/shape_predictor_68_face_landmarks.dat filter=lfs diff=lfs merge=lfs -text
dataset/story_corpus/img/* filter=lfs diff=lfs merge=lfs -text
dataset/story_corpus/stories/* filter=lfs diff=lfs merge=lfs -text
